<!--The content below is only a placeholder and can be replaced.-->
<div style="background-color: #00FFFF">
 <h1>First angular page</h1>
</div>
<div style="text-align:center">
 
  <h2>Bar</h2>
  <lib-Ng6O2Chart [chartType]="barTypeName" [configData]="configData"  [graphData]="barDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></lib-Ng6O2Chart>
  
  
  <h2>Histogram</h2>
  <lib-Ng6O2Chart [chartType]="histogramTypeName" [configData]="configData"  [graphData]="histogramDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></lib-Ng6O2Chart>
  <hr>
 
</div>

<div class="map"
     leaflet
     (leafletMapReady)="onMapReady($event)"
     [leafletOptions]="options"
     [leafletLayersControl]="layersControl"></div>
